       *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        header, nav, main, footer{
            width: 80%;
            margin: 0 auto;
        }

        header {
            min-height: 8rem;            
            background-color: rgb(214, 187, 9);

        }

        nav{
            min-height: 4rem;
            background-color: orange;
        }
        
        
        main{
            min-height: 20rem;
            background-color: lightblue;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        } 
        
        main div{
            border: 0.3rem  solid black;
            width: 30%;
            text-align:justify;
        }

        .izda{background-color: aqua;}
        .dcha{background-color: chartreuse;}


        footer{
            min-height: 7rem;
            background-color: darkorange;
        }    

   

        /* aqui voy a trabajar con las Media Querys */
        @media screen and (max-width: 600px) {
            body {
                background-color: lightgreen;
            }
            main {flex-direction: column;}

            main div{width: 95%;}
        }
