       *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }


        ul {
            list-style: none;
            margin-left: 0;
        }
        a {
            text-decoration: none;
            color: black;
        }


        header, nav, main, footer{
            width: 80%;
            margin: 0 auto;
        }

        header {
            min-height: 8rem;            
            background-color: green;

        }

        nav{
            min-height: 6rem;
            background-color: orange;  
        } 
        
        nav ul {
            background-color: aqua;
            min-height: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        
        nav ul li {
            height: 2.3rem;
            border: 0.2rem solid black;
            margin: 0.3rem;
            width: 7rem;
            border-radius: 1rem;

       }
        
        nav ul li a {
            color: aliceblue;
            background-color: blueviolet;
            display: block;
            height: 1.9rem;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.2rem;
            font-weight: 300px;
            font-style: italic;
            border-radius: 1rem;
        }
        
        nav ul li a:hover {
            color: blueviolet;
            background-color: aliceblue;
            transition: 1s;
        }
        
        
        main{
            min-height: 20rem;
            background-color: lightblue;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            

        }
        
        main img{
            width: 32%;
            margin-top: 0.3rem;
                }
        
        main div{
            border: 0.3rem  solid black;
            width: 30%;

        }

        .izda{background-color: aqua;}
        .dcha{background-color: chartreuse;}


        footer{
            min-height: 7rem;
            background-color: darkorange;
            border: 1rem solid orangered;
        }    

   

        /* aqui voy a trabajar con las Media Querys */
        @media screen and (max-width: 650px) {
            body {
                background-color: lightgreen;
            }
            nav ul {
                flex-direction: column;
                  
            }           
            
            nav ul li{
                width: 20rem;                
            }

            main {flex-direction: row;
                 align-items: center;
            }
            /*  main div{width: 40%;} */
              main img { width: 40%;}
        }
        
        
        
        @media screen and (max-width: 423px) {
            body {
                background-color: red;
            }

            header {
                display: none;
            }

            nav ul li{
                width: 95%;                
            }
/* 
            main div {
                    flex-direction: column;
                    width: 95%;
            } */

            main img { flex-direction: column;
                width: 95%;}
        }
